
/* ---- Base Rules ---- */
html {
    scroll-behavior: smooth;
}

body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(33, 49, 111, 0.84) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
   
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 98vh;
    max-height: 98vh;
    transition: .5s;
}

/* Navigation */

/**********/
/* .navbar__menu #btn {
    position: absolute;
    top: 100%;
    border-radius: 0px 20px 0px 20px;
    width: 10em;
    height: 2.8em;
    outline: 0px;
    border: 0px;
    font-size: 18.5px;
    font-weight: bold;
    background-color:rgb(8, 6, 6)1;
    color: rgba(213, 152, 21, 0.416);
    cursor: pointer;
}

.navbar__menu #btn:hover {
    background-color: #0d0e0e;
    color: rgb(255, 255, 255);
}
*/
.navbar__menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar__menu ul {
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    display: inline-block;
    font-size: large;
    padding: 1.3em;
}
.navbar__menu li a {
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

#navbar__list ul li {
    display: inline-block;
}

a {
    color: #fff;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
}

.navbar__menu .menu__link:hover {
    background: #080808;
    color: #fff;
    transition: ease 0.3s all;
}

/***** active links ************/
.navbar__menu .active-link {
    background: #141414;
    color: rgb(255, 255, 255);
    transition: ease 0.3s all; 
}

.active {
    font-weight: bolder;
}

.active a:-webkit-any-link {
    color: rgb(227, 45, 9);
}

/* Header Styles */
.page__header {
    display: flex;
    background: #e8a258;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 10vh;
    z-index: 5;
    transition: top 0.3s;
}

/* Footer Styles */
.page__footer {
    background: #413428d0;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}


section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: "";
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: "";
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: "";
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: "";
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: black;
    box-shadow: 1em 1em 2em rgba(22, 22, 22, 0.445);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

#to-top {
    border-radius: 60px 60px 0px 0px;
    background-color: #dc9472;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: -6px;
    right: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 5em;
        margin: 2em 4rem 1em;
    }
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 40em;
        padding: 4em;
    }
}
/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

/****************************** making some changes on the button on small screens **************************/
@media only screen and (max-width: 39.5em) {
    .navbar__menu #btn {
        top: 100%;
        font-size: 13px;
        width: 6.5em;
        height: 1.8em;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 660px) {
    .navbar__menu li {
        padding: .4em;
        font-size: small;
    }
}
@media only screen and (max-device-width: 1000px) {
    section {
        min-height: 60vh;
    }
}